body{
    text-align:center ;
    background-size: cover;

}
img{
    width: 250px;
}
#controles{
    position: fixed;
    bottom: 30px;
    width: 100%;
    
}
#iniciar{
    width: 50px;
    height: 50px;
    border-color: white;
    border-width: 10px;
    border-style:  groove;
    border-radius: 15px;
    filter: invert(100%);
}
#volumen,#flash{
    color: white;
}
.cancion img{
    width: 65px;
    vertical-align: middle;
}

#playlist{
    position: fixed;
    right: 10px;
    bottom: 10px;
    color:white;
    text-align: left;
}
#duracion,#drs{
    font-size: 25px;
    color: white;
}
#barradeduracion{
    width:500px;
    height: 20px;
    background:linear-gradient(90deg,red,purple,blue,rgb(3, 253, 66));
    margin: 0 auto;
}
#F1{
    width: 50%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.397);
}